{% extends "base.html" %}

{% block title %}Erro - DCRE Tool{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='DCRE_Error_style.css') }}">
{% endblock %}

{% block header %}
    <div class="header-container">
        <a href="{{ url_for('home') }}" class="link-home">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo Intelbras" class="logo-img">
            <div class="pato-hover-container">
                <img src="{{ url_for('static', filename='img/pato.png') }}" alt="Pato" class="logo-pato-img normal">
                <img src="{{ url_for('static', filename='img/pato_quack.png') }}" alt="Pato Quack" class="logo-pato-img quack">
            </div>
        </a>
        <nav class="nav-links">
            <a href="{{ url_for('ncm.ncm_home') }}" class="link-home">NCM</a>
            <a href="{{ url_for('manueldex.manueldex_home') }}">Manuel Dex</a>
            <a href="{{ url_for('easyckd.easyCKD_home') }}" class="link-home">EasyCKD</a>
            <a href="{{ url_for('datasheetos.datasheetos_home') }}" class="link-home">Datasheetos</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="error-content">
        <h1>Erro</h1>
        <p>{{ error_message }}</p>
        <a href="{{ url_for('dcre.dcre_home') }}" class="link-home" style="color: black;">Voltar</a>
    </div>
{% endblock %}